<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>KMeans Clustering Algorithm</title>
		<link rel="stylesheet" href="static\css\main.css" />
		<!-- Link to the CSS file -->
	</head>
	<body>
		<h1>KMeans Clustering Algorithm</h1>
		<div class="container">
			<label for="num_clusters">Number of Clusters (k):</label>
			<input
				type="number"
				id="num_clusters"
				min="1"
				placeholder="Enter number of clusters"
			/>

			<label for="init_method">Initialization Method:</label>
			<select id="init_method">
				<option value="random">Random</option>
				<option value="farthest">Farthest First</option>
				<option value="kmeans++">KMeans++</option>
				<option value="manual">Manual</option>
			</select>

			<div>
				<button id="step_btn" class="disabled" disabled>
					Step Through KMeans
				</button>
				<button id="converge_btn" class="disabled" disabled>
					Run to Convergence
				</button>
			</div>

			<div>
				<button id="generate_btn" class="enabled">Generate New Dataset</button>
				<button id="reset_btn" class="enabled">Reset Algorithm</button>
			</div>
		</div>

		<div class="plot" id="plot_div">
			<h3>KMeans Clustering Data</h3>
			<div id="kmeans_plot"></div>
			<!-- Plotly plot will be inserted here -->
		</div>

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<!-- Link to Plotly -->
		<script src="static\js\app.js"></script>
		<!-- Link to the JavaScript file -->
		<div id="snackbar">KMeans Algorithm Converged!</div>
	</body>
</html>
